.container {
    margin-top: 65px;
    max-width: 400px;
    height: auto;
    border: 1px solid #797979;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: block;
  }
  
  .responsive {
    max-width: 100%;
    height: auto;
  }
  
  .redirect {
    text-decoration: none;
  }