* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: sans-serif;
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, yellow, orange);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, yellow, orange); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body, html, .App, #root, .outer {
  width: 100%;
  height: 100%;
}

.form-control:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}